.tabs:after, .tabs:before {
  display: table;
  content: "";
  clear: both;
}

/* =============================================================================
    Base
    @todo blockquote
    @todo transitions
   ========================================================================== */
*::selection {
  background: #f0652a;
  color: white;
  text-shadow: none;
}

body {
  background-image: url(../images/bg.png);
  color: #666;
}

.not-front main[role="main"] {
  background: white;
  margin-top: -60px;
  padding-bottom: 1em;
}

a {
  color: #f0652a;
  text-decoration: none;
}
a:hover {
  color: #a83a0c;
}

ol, ul {
  padding-left: 20px;
}
@media (min-width: 43.75em) {
  ol, ul {
    padding-left: 40px;
  }
}

pre {
  line-height: 1.4;
}

code {
  font-size: 16px;
  font-size: 1rem;
  overflow-x: scroll;
}
@media (min-width: 43.75em) {
  code {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

/* =============================================================================
    Fonts
    @todo get rid of unused webfonts
   ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweatherlight';
  src: url("../fonts/merriweather-light-webfont.eot");
  src: url("../fonts/merriweather-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-light-webfont.woff") format("woff"), url("../fonts/merriweather-light-webfont.ttf") format("truetype"), url("../fonts/merriweather-light-webfont.svg#merriweatherlight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'merriweatherlight_italic';
  src: url("../fonts/merriweather-lightitalic-webfont.eot");
  src: url("../fonts/merriweather-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/merriweather-lightitalic-webfont.woff") format("woff"), url("../fonts/merriweather-lightitalic-webfont.ttf") format("truetype"), url("../fonts/merriweather-lightitalic-webfont.svg#merriweatherlight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =============================================================================
    Forms
   ========================================================================== */
button, input[type="submit"] {
  font-size: 25px;
  font-size: 1.5625rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  max-width: 100%;
  -webkit-appearance: none;
  width: 100%;
  background: #ddd;
  padding: .5em;
  color: #666;
  border: none;
}
@media (min-width: 43.75em) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: auto;
  }
}

label {
  display: block;
}
label.error {
  color: red;
}

form .description {
  color: #999;
  font-style: italic;
  font-size: 14px;
}

.form-item {
  padding: 10px 0;
}

input[type="submit"] {
  margin-right: 10px;
}
input[type="submit"]:last-child {
  margin-right: 0;
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin: 0;
}
@media (min-width: 43.75em) {
  .views-exposed-form .views-exposed-widget .form-submit {
    margin: 1.4em;
  }
}

.views-exposed-form .views-exposed-widget {
  float: none;
}
@media (min-width: 43.75em) {
  .views-exposed-form .views-exposed-widget {
    float: left;
  }
}

/* Make radio buttons inline */
.form-item.form-type-radio {
  display: inline-block;
  margin-right: 10px;
}
.form-item.form-type-radio:last-child {
  margin-right: 0;
}

/* =============================================================================
    Helper classes
   ========================================================================== */
.image-credit {
  text-align: right;
  font-size: 16px !important;
  font-size: 1rem !important;
}
.image-credit:before {
  content: "Image credit: ";
}

/* =============================================================================
    Layouts
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bg.png);
}

.container, .region-callout-bubble, .messages {
  margin: 0 auto;
  clear: both;
}
@media (min-width: 56.25em) {
  .container, .region-callout-bubble, .messages {
    max-width: 900px;
  }
}

.not-front .l-content {
  padding: 1em 0;
  margin: 2em 1em;
  font-size: 20px;
  font-size: 1.25rem;
}
@media (min-width: 56.25em) {
  .not-front .l-content {
    padding: 1px 0;
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 75em) {
  .not-front .l-content {
    margin: 1em auto;
  }
}

/* =============================================================================
    Media
   ========================================================================== */
img, media {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* =============================================================================
    Misc base styles
   ========================================================================== */
iframe.twitter-tweet {
  margin: 1em auto !important;
}
@media (min-width: 75em) {
  iframe.twitter-tweet {
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    margin: 2.5em auto !important;
  }
}

@media (min-width: 75em) {
  .speakerdeck-iframe {
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    margin: 4em auto !important;
  }
}

.code-block {
  padding: 1em !important;
  margin: .5em 0 !important;
  display: block;
  line-height: 1.4;
}

/* =============================================================================
    Tables
   ========================================================================== */
table {
  width: 100%;
  border-color: none;
}
table .form-item {
  margin: 0;
  padding: 0;
}

tr.odd,
tr.even {
  background-color: transparent;
}

td {
  padding: 5px;
}

th {
  padding: 5px;
  background-color: #eee;
}

fieldset {
  margin: 5px 0;
}

/* =============================================================================
    Typography
    @todo blockquote
   ========================================================================== */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  margin: 0;
  font-family: merriweatherlight, georgia, serif;
}

em, #twitter-feed .timePosted, .view-blog .field-node--field-subheading {
  font-style: normal;
  font-family: merriweatherlight_italic, merriweatherlight, georgia, serif;
}

h1, .view-blog h2, .view-blog .page-node .field-node--field-subheading, .page-node .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-blog .field-node--field-subheading {
  font-family: merriweatherlight, georgia, serif;
  line-height: 1.3;
  font-size: 40px;
  font-size: 2.5rem;
  color: #aaa;
  font-weight: normal;
}
@media (min-width: 43.75em) {
  h1, .view-blog h2, .view-blog .page-node .field-node--field-subheading, .page-node .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-blog .field-node--field-subheading {
    font-size: 60px;
    font-size: 3.75rem;
  }
}

h2, .page-node .field-node--field-subheading, .node-type-page .field-node--field-subheading {
  font-family: merriweatherlight, georgia, serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.1;
  color: #666;
  font-weight: normal;
}
@media (min-width: 43.75em) {
  h2, .page-node .field-node--field-subheading, .node-type-page .field-node--field-subheading {
    font-size: 48px;
    font-size: 3rem;
  }
}

h3 {
  font-family: merriweatherlight, georgia, serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #666;
  font-weight: normal;
}
@media (min-width: 43.75em) {
  h3 {
    font-size: 32px;
    font-size: 2rem;
  }
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

p, .view-blog .field-node--field-subheading, .view-front .field-node--field-subheading, li, blockquote {
  font-family: merriweatherlight, georgia, serif;
  font-size: 20px;
  font-size: 1.25rem;
}
@media (min-width: 56.25em) {
  p, .view-blog .field-node--field-subheading, .view-front .field-node--field-subheading, li, blockquote {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

/* =============================================================================
    Aside
   ========================================================================== */
/* =============================================================================
    Branding
   ========================================================================== */
/* =============================================================================
    Callout Bubble
   ========================================================================== */
.region-callout-bubble {
  padding: 1em 1em 3em 1em;
  font-size: 14px;
  font-size: 0.875rem;
}
.region-callout-bubble .field-item {
  padding: 5px 20px;
  background-color: white;
  color: #999;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}
.region-callout-bubble .field-item:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 140px;
  border-top: 50px solid white;
  border-top-color: white;
  border-left: 0px solid transparent;
  border-right: 30px solid transparent;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
@media (min-width: 43.75em) {
  .region-callout-bubble {
    font-size: 16px;
    font-size: 1rem;
    padding: 1em 1em 1em 116px;
  }
  .region-callout-bubble .field-item:after {
    left: 10px;
    border-top: 10px solid white;
    border-top-color: white;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
  }
}

/* =============================================================================
    Comments
   ========================================================================== */
/* =============================================================================
    Footer Section
   ========================================================================== */
footer {
  background: #f0652a;
  margin-top: 3em;
}

.footer-icons {
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-icon {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1;
  margin: .5em 10px;
}
.footer-icon a {
  display: block;
  height: 50px;
  width: 50px;
  text-indent: 100%;
  overflow: hidden;
}
.footer-icon a:before {
  text-indent: 0;
  font-family: FontAwesome;
  color: white;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 43.75em) {
  .footer-icon {
    font-size: 100px;
    font-size: 6.25rem;
    margin: .5em 0;
  }
  .footer-icon a {
    height: 100px;
    width: 100px;
    -moz-transition: -moz-transform 0.25s;
    -o-transition: -o-transform 0.25s;
    -webkit-transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  .footer-icon a:hover {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.footer-icon-drupal a {
  position: relative;
  top: -3px;
  background: url(../images/druplicon.vector.edited.svg) no-repeat center;
  background-size: contain;
}

.footer-icon-twitter a {
  display: block;
  position: relative;
}
.footer-icon-twitter a:before {
  content: "\f099";
  font-size: 46px;
  font-size: 2.875rem;
}
@media (min-width: 43.75em) {
  .footer-icon-twitter a:before {
    font-size: 96px;
    font-size: 6rem;
  }
}

.footer-icon-github a {
  display: block;
  position: relative;
}
.footer-icon-github a:before {
  content: "\f09b";
}

/* =============================================================================
    Header
   ========================================================================== */
header[role='banner'] {
  clear: both;
}
@media (min-width: 43.75em) {
  header[role='banner'] {
    height: 60px;
    line-height: 60px;
  }
  .js-scroll-down header[role='banner'] {
    -moz-box-shadow: 0 5px 20px 10px white;
    -webkit-box-shadow: 0 5px 20px 10px white;
    box-shadow: 0 5px 20px 10px white;
    height: 40px;
    line-height: 40px;
    position: fixed;
    padding-left: 1em;
    top: 0;
    background: white;
    overflow: hidden;
    width: 100%;
    z-index: 10;
  }
  .js-scroll-down header[role='banner'] img {
    display: none;
  }
}

.home-link {
  float: left;
  margin: -25px 0 1em 1em;
  border: solid 5px white;
  position: relative;
  z-index: 5;
}
.home-link img {
  display: block;
}
@media (min-width: 43.75em) {
  .home-link {
    margin: -25px 2em 0 0;
  }
}

/* =============================================================================
    Highlighted Region
   ========================================================================== */
.region-highlighted {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
  color: #f0652a;
  clear: both;
  text-shadow: 2px 2px white;
}

/* =============================================================================
    Drupal's Messages
   ========================================================================== */
.messages {
  clear: both;
  background-color: #eee;
  color: #999;
  padding: 1em 2em;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 2em auto 3em auto;
}

/* =============================================================================
    Primary Navigation
   ========================================================================== */
#block-mainnavigation {
  position: relative;
  cursor: pointer;
  font-family: merriweatherlight, georgia, serif;
  text-transform: uppercase;
}
#block-mainnavigation:after {
  position: absolute;
  padding: 5px 40px;
  right: 0;
  top: 0;
  font-family: FontAwesome;
  content: "\f0c9";
  color: #ccc;
  cursor: pointer;
  line-height: 1;
  font-size: 50px;
  font-size: 3.125rem;
}
@media (min-width: 43.75em) {
  #block-mainnavigation:after {
    display: none;
  }
}
#block-mainnavigation .menu {
  max-height: 0;
  clear: both;
  position: relative;
  padding: 0;
  margin: 1em;
  overflow: hidden;
}
#block-mainnavigation .menu a {
  display: block;
  color: #fff;
  text-decoration: none;
}
#block-mainnavigation .menu li {
  list-style-type: none;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.8);
  margin: .5em 0;
  font-size: 25px;
  font-size: 1.5625rem;
}
#block-mainnavigation .menu.js-nav-open {
  max-height: 500px;
}
@media (min-width: 43.75em) {
  #block-mainnavigation .menu {
    clear: none;
    margin: 0;
    display: table;
    overflow: visible;
  }
  .front #block-mainnavigation .menu {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .front #block-mainnavigation .menu:before {
    display: block;
    content: "";
    position: absolute;
    height: 60px;
    width: 160px;
    right: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  #block-mainnavigation .menu li {
    display: table-cell;
    font-size: 20px;
    font-size: 1.25rem;
    padding: 0 2em 0 0;
    margin: 0;
    background-color: transparent;
  }
  #block-mainnavigation .menu a {
    color: #bbb;
  }
  #block-mainnavigation .menu a:hover {
    color: #aaa;
  }
  #block-mainnavigation .menu a.active {
    position: relative;
  }
  #block-mainnavigation .menu a.active:after {
    content: "";
    position: absolute;
    display: block;
    border-top: solid 10px #e5e5e5;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    left: 50%;
    top: 0;
    margin-left: -10px;
  }
}

/* =============================================================================
    Nodes
   ========================================================================== */
.page-node p, .page-node .view-blog .field-node--field-subheading, .view-blog .page-node .field-node--field-subheading, .page-node .view-front .field-node--field-subheading, .view-front .page-node .field-node--field-subheading, .node-type-page p, .node-type-page .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-front .field-node--field-subheading, .view-front .node-type-page .field-node--field-subheading {
  font-size: 20px;
  font-size: 1.25rem;
}
@media (min-width: 56.25em) {
  .page-node p, .page-node .view-blog .field-node--field-subheading, .view-blog .page-node .field-node--field-subheading, .page-node .view-front .field-node--field-subheading, .view-front .page-node .field-node--field-subheading, .node-type-page p, .node-type-page .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-front .field-node--field-subheading, .view-front .node-type-page .field-node--field-subheading {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.page-node h1, .page-node .view-blog h2, .view-blog .page-node h2, .view-blog .page-node .field-node--field-subheading, .page-node .view-blog .field-node--field-subheading, .node-type-page h1, .node-type-page .view-blog h2, .view-blog .node-type-page h2, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-blog .field-node--field-subheading {
  margin-bottom: .25em;
}
.page-node .field-node--field-subheading, .node-type-page .field-node--field-subheading {
  font-family: merriweatherlight_italic, merriweatherlight, georgia, serif;
  color: #aaa;
}
.page-node .submitted, .node-type-page .submitted {
  color: #bbb;
}

/* =============================================================================
    Drupal's Pager
   ========================================================================== */
/* =============================================================================
    Drupal's Tabs
   ========================================================================== */
.tabs {
  background-color: #eee;
  border-bottom: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-bottom: 1em;
  display: table-row;
}
.tabs > li {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  float: none;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  border-right: solid 1px white;
  position: relative;
  padding: 20px 0;
}
@media (min-width: 43.75em) {
  .tabs > li {
    width: auto;
    display: block;
    float: left;
    margin-right: 1em;
    background-color: #eee;
    padding: 0;
  }
}
.tabs > li:first-child:nth-last-child(2n), .tabs > li:first-child:nth-last-child(2n) ~ li, .tabs > li:first-child:nth-last-child(4n), .tabs > li:first-child:nth-last-child(4n) ~ li {
  width: 50%;
}
@media (min-width: 43.75em) {
  .tabs > li:first-child:nth-last-child(2n), .tabs > li:first-child:nth-last-child(2n) ~ li, .tabs > li:first-child:nth-last-child(4n), .tabs > li:first-child:nth-last-child(4n) ~ li {
    width: auto;
  }
}
.tabs > li:first-child:nth-last-child(3n), .tabs > li:first-child:nth-last-child(3n) ~ li {
  width: 33.33%;
}
@media (min-width: 43.75em) {
  .tabs > li:first-child:nth-last-child(3n), .tabs > li:first-child:nth-last-child(3n) ~ li {
    width: auto;
  }
}
.tabs > li.active {
  background-color: #ccc;
}
.tabs > li.active:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
@media (min-width: 43.75em) {
  .tabs > li.active:after {
    border: 0;
  }
}
.tabs > li:last-child {
  border: none;
}
.tabs > li a {
  text-decoration: none;
  background-color: transparent;
  display: block;
}
.tabs > li a:hover {
  background-color: transparent;
  color: #666;
}
@media (min-width: 43.75em) {
  .tabs > li a {
    padding: .5em 1em;
  }
}
@media (min-width: 43.75em) {
  .tabs {
    display: block;
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
    padding: 0;
    background-color: transparent;
  }
}

/* =============================================================================
    Navbar Toolbar
   ========================================================================== */
#toolbar-administration li, #toolbar-administration p, #toolbar-administration .view-blog .field-node--field-subheading, .view-blog #toolbar-administration .field-node--field-subheading, #toolbar-administration .view-front .field-node--field-subheading, .view-front #toolbar-administration .field-node--field-subheading, #toolbar-administration div {
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: sans-serif;
}

/* =============================================================================
    Theming the javascript twitter feed
   ========================================================================== */
#twitter-feed ul {
  padding: 0;
}
#twitter-feed li {
  padding: 20px 10px;
  list-style-type: none;
  border-bottom: solid 1px #eee;
}
#twitter-feed li:last-child {
  border-bottom: none;
}
#twitter-feed li:hover {
  background-color: #f5f5f5;
}
#twitter-feed a {
  word-break: break-all;
}
#twitter-feed img {
  float: left;
  position: relative;
  top: 9px;
  margin-right: 20px;
  border-radius: 50%;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
@media (min-width: 56.25em) {
  #twitter-feed img {
    top: 14px;
  }
}
#twitter-feed .tweet {
  font-size: 1em;
}
#twitter-feed p, #twitter-feed .view-blog .field-node--field-subheading, .view-blog #twitter-feed .field-node--field-subheading, #twitter-feed .view-front .field-node--field-subheading, .view-front #twitter-feed .field-node--field-subheading {
  margin: 0;
}
#twitter-feed .user .span {
  display: block;
}
#twitter-feed .timePosted {
  float: left;
  margin-top: .5em;
  color: #aaa;
  font-size: 16px;
  font-size: 1rem;
}
#twitter-feed .interact {
  text-align: right;
  margin-top: .5em;
  font-size: 16px;
  font-size: 1rem;
}
#twitter-feed .interact a {
  color: #ddd;
  margin: 0 5px;
}
#twitter-feed .interact:hover a {
  color: #aaa;
}
#twitter-feed .interact:hover a:hover {
  color: #666;
}

/* =============================================================================
    View Blog
   ========================================================================== */
.view-blog a {
  display: block;
  color: #f0652a;
}
.view-blog a:hover h2, .view-blog a:hover .page-node .field-node--field-subheading, .page-node .view-blog a:hover .field-node--field-subheading, .view-blog a:hover .node-type-page .field-node--field-subheading, .node-type-page .view-blog a:hover .field-node--field-subheading {
  color: #999;
}
.view-blog a:hover .wrap-front {
  border-color: #999;
}
.view-blog h2, .view-blog .page-node .field-node--field-subheading, .page-node .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-blog .field-node--field-subheading {
  font-size: 40px;
  font-size: 2.5rem;
  margin-bottom: .25em;
  text-align: center;
}
@media (min-width: 43.75em) {
  .view-blog h2, .view-blog .page-node .field-node--field-subheading, .page-node .view-blog .field-node--field-subheading, .view-blog .node-type-page .field-node--field-subheading, .node-type-page .view-blog .field-node--field-subheading {
    text-align: left;
    margin-bottom: .5em;
  }
}
@media (min-width: 30em) {
  .view-blog .views-row {
    padding: 1em;
  }
}
@media (min-width: 56.25em) {
  .view-blog .views-row {
    padding: 1em 0;
  }
}
.view-blog .wrap-front {
  padding: 2em 1em;
  background-color: white;
  text-align: center;
  border: solid 1px #ccc;
  height: 240px;
  margin: 1em;
  position: relative;
}
.view-blog .wrap-front img {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 43.75em) {
  .view-blog .wrap-front {
    float: left;
    width: 240px;
    margin: 0 2em 0 0;
  }
}
.view-blog .field-node--field-subheading {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
}
.view-blog .field-node--field-subheading:empty {
  display: none;
}
@media (min-width: 43.75em) {
  .view-blog .field-node--field-subheading {
    text-align: left;
    font-size: 20px;
    font-size: 1.25rem;
  }
}
.view-blog .date {
  color: #ccc;
  text-align: center;
  margin-top: .5em;
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 43.75em) {
  .view-blog .date {
    margin-top: 1em;
    text-align: left;
  }
}

/* =============================================================================
    View Front (frontpage)
    @todo integrate with modernizr
   ========================================================================== */
.view-front a {
  display: block;
  color: #f0652a;
}
.view-front h2, .view-front .page-node .field-node--field-subheading, .page-node .view-front .field-node--field-subheading, .view-front .node-type-page .field-node--field-subheading, .node-type-page .view-front .field-node--field-subheading {
  font-size: 22px;
  font-size: 1.375rem;
  margin: .5em 0;
  line-height: 1.3;
}
.view-front .views-row {
  padding: 1em;
}
@media (min-width: 30em) {
  .view-front .views-row {
    vertical-align: top;
    display: inline-block;
    margin-right: -4px;
    width: 50%;
  }
}
@media (min-width: 43.75em) {
  .view-front .views-row {
    width: 33.33%;
  }
}
.view-front .wrap-front,
.view-front .wrap-back {
  padding: 2em 1em;
  background-color: white;
  text-align: center;
  border: solid 1px #ccc;
}
@media (min-width: 30em) {
  .view-front .wrap-front,
  .view-front .wrap-back {
    height: 240px;
  }
}
.view-front .wrap-back {
  padding: 1em;
  display: none;
}
.view-front .field-node--field-subheading {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
}
.view-front .date {
  color: #ccc;
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 75em) {
  .view-front .wrap {
    position: relative;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .view-front .wrap:hover a, .view-front .wrap:focus a {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  .view-front a {
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: all 0.5s cubic-bezier(0.28, 0.33, 0.66, 1.2);
    -o-transition: all 0.5s cubic-bezier(0.28, 0.33, 0.66, 1.2);
    -webkit-transition: all 0.5s cubic-bezier(0.28, 0.33, 0.66, 1.2);
    transition: all 0.5s cubic-bezier(0.28, 0.33, 0.66, 1.2);
  }
  .view-front .wrap-front,
  .view-front .wrap-back {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .view-front .wrap-front {
    position: relative;
  }
  .view-front .wrap-back {
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
}
