/* =============================================================================
    Header
   ========================================================================== */

header[role='banner'] {
  clear: both;
  @include breakpoint($tablet_narrow) {
    height: 60px;
    line-height: 60px;
    .js-scroll-down & { // Fixed positition on scroll
      @include box-shadow(0 5px 20px 10px #fff);
      height: 40px;
      line-height: 40px;
      position: fixed;
      top: 0;
      background: white;
      overflow: hidden;
      width: 100%;
      z-index: 10; // Necessary to clear iframes
      img {
        display: none;
      }
    }    
  }
}
.home-link {
  float: left;
  margin: -25px 0 1em 1em;
  border: solid 5px white;
  position: relative;
  z-index: 5;
  img {
    display: block;
  }
  @include breakpoint($tablet_narrow) {
    margin: -25px 2em 0 0;
  }
}