/* =============================================================================
    Highlighted Region
   ========================================================================== */

.region-highlighted {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
  color: $orange;
  clear: both;
  @include text-shadow(2px 2px white);
}