/* =============================================================================
    Primary Navigation
   ========================================================================== */

#block-mainnavigation {
  position: relative;
  cursor: pointer;
  font-family: $fontLight;
  text-transform: uppercase;
  &:after { // Hamburger icon
    position: absolute;
    padding: 5px 40px;
    right: 0;
    top: 0;
    font-family: FontAwesome;
    content: "\f0c9";
    color: #ccc;
    cursor: pointer;
    line-height: 1;
    @include font-size(50px);
    @include breakpoint($tablet_narrow) {
      display: none;
    }
  }
  .menu { // menu ul
    max-height: 0;
    clear: both;
    position: relative;
    padding: 0;
    margin: 1em;
    overflow: hidden;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
    }
    li {
      list-style-type: none;
      text-align: center;
      background-color: rgba(#ccc, .8);
      margin: .5em 0;
      @include font-size(25px);
    }
    &.js-nav-open {
      max-height: 500px;
    }

    @include breakpoint($tablet_narrow) {
      clear: none;
      margin: 0;
      display: table;
      overflow: visible;
      //
      // Frontpage specific styling
      //
      .front & {
        background-color: rgba(#fff, .8);
      }
      // Left semi-transparent white block before the nav on the front page
      .front &:before {
        display: block;
        content: "";
        position: absolute;
        height: 60px;
        width: 160px;
        right: 100%;
        top: 0;
        background-color: rgba(#fff, .8);
      }
      li {
        display: table-cell;
        @include font-size(20px);
        padding: 0 2em 0 0;
        margin: 0;
        background-color: transparent;
      }
      a {
        color: #bbb;
        &:hover {
          color: #aaa;
        }
        &.active {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            display: block;
            border-top: solid 10px #e5e5e5;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            left: 50%;
            top: 0;
            margin-left: -10px;
          }
        }
      }
    } // End breakpoint($tablet_narrow)
  } // End .menu
} // End #block-mainnavigation
