/* =============================================================================
    Drupal's Tabs
   ========================================================================== */

.tabs {
  @extend %clearfix;
  background-color: #eee;
  border-bottom: none;
  @include box-sizing(content-box);
  margin-bottom: 1em;
  display: table-row;
  > li {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    float: none;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    border-right: solid 1px white;
    position: relative;
    padding: 20px 0;
    @include breakpoint($tablet_narrow) {
      width: auto;
      display: block;
      float: left;
      margin-right: 1em;
      background-color: #eee;
      padding: 0;
    }
    &:first-child:nth-last-child(2n),
    &:first-child:nth-last-child(2n) ~ li, 
    &:first-child:nth-last-child(4n),
    &:first-child:nth-last-child(4n) ~ li {
      width: 50%;
      @include breakpoint($tablet_narrow) {
        width: auto;
      }
    }
    &:first-child:nth-last-child(3n),
    &:first-child:nth-last-child(3n) ~ li {
      width: 33.33%;
      @include breakpoint($tablet_narrow) {
        width: auto;
      }
    }
    &.active {
      background-color: #ccc;
        &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        @include breakpoint($tablet_narrow) {
          border: 0;
        }
      }
    }
    &:last-child {
      border: none;
    }
    a {
      text-decoration: none;
      background-color: transparent;
      display: block;
      &:hover {
        background-color: transparent;
        color: #666;
      }
      @include breakpoint($tablet_narrow) {
        padding: .5em 1em;
      }
    }
  }
  @include breakpoint($tablet_narrow) {
    display: block;
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
    padding: 0;
    background-color: transparent;
  }
}

