/* =============================================================================
    Base
    @todo blockquote
    @todo transitions
   ========================================================================== */

* {
 // @include transition(all .3s);
 &::selection {
  background: $orange;
  color: white;
  text-shadow: none;
 }
}

body {
  background-image: url(../images/bg.png);
  color: #666;
}

.not-front main[role="main"] {
  background: white;
  margin-top: -60px;
  padding-bottom: 1em;
}

a {
  color: $orange;
  text-decoration: none;
  &:hover {
    color: darken($orange, 20%);
  }
}

ol, ul {
  padding-left: 20px;
  @include breakpoint($tablet_narrow) {
    padding-left: 40px;
  }
}

pre {
  line-height: 1.4;
}

code {
  @include font-size(16px);
  overflow-x: scroll;
  @include breakpoint($tablet_narrow) {
    @include font-size(20px);
  }
}