/* =============================================================================
    Typography
   ========================================================================== */

html {
  font-size: 100%;
}
body {
  line-height: 1.7;
  margin: 0;
  font-family: $fontLight;
}

// Headings

h1 {
  font-family: $fontHeading;
  @include font-size(32px);
  a {
    // color
    &:hover {
      //color
    }
  }
}
h2 {
  font-family: $fontLight;
  @include font-size(28px);
  a {
    // color
    &:hover {
      //color
    }
  }
}
h3 {
  font-family: $fontHeading;
  @include font-size(22px);
  a {
    // color
    &:hover {
      //color
    }
  }
}
h4 {
  @include font-size(18px);
  a {
    // color
    &:hover {
      //color
    }
  }
}

// Body

p, li, blockquote {
  font-family: $fontLight;
  @include font-size(16px);
}