/* =============================================================================
    Typography
    @todo blockquote
   ========================================================================== */

html {
  font-size: 100%;
}
body {
  line-height: 1.7;
  margin: 0;
  font-family: $fontLight;
}
em {
  font-style: normal;
  font-family: $fontitalic;
}

// Headings

h1 {
  font-family: $fontRegular;
  line-height: 1.3;
  @include font-size(40px);
  color: #aaa;
  font-weight: normal;
  @include breakpoint($tablet_narrow) {
    @include font-size(60px);
  }
  a {
    // color
    &:hover {
      //color
    }
  }
}
h2 {
  font-family: $fontRegular;
  @include font-size(32px);
  line-height: 1.1;
  color: #666;
  font-weight: normal;
  @include breakpoint($tablet_narrow) {
    @include font-size(48px);
  }
  a {
    // color
    &:hover {
      //color
    }
  }
}
h3 {
  font-family: $fontRegular;
  @include font-size(24px);
  line-height: 1.1;
  color: #666;
  font-weight: normal;
  @include breakpoint($tablet_narrow) {
    @include font-size(32px);
  }
  a {
    // color
    &:hover {
      //color
    }
  }
}
h4 {
  @include font-size(18px);
  a {
    // color
    &:hover {
      //color
    }
  }
}

// Body

p, li, blockquote {
  font-family: $fontRegular;
  @include font-size(20px);
  @include breakpoint($tablet_wide) {
    @include font-size(24px);
  }
}